
.card {
  position: relative; 
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(0 0 0 / 0.1);
}


.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
  width: 100%;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}



.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.statusLabel {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: black; /* Background for the label */
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  z-index: 1;
}

.outOfStockOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  z-index: 2; /* Above everything else */
}

/* Wrapper for the product image */
.cardImageWrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0; /* No radius for a clean look */
}

/* Card body styles */
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 8px;
}

/* Card title styles */
.cardTitle {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.5;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}

/* Secondary text (e.g., price or details) */
.cardSecondaryText {
  font-size: 14px;
  color: gray;
}



.heartIcon:hover {
  color: red;
}


@media screen and (max-width: 768px) {

.cardSecondaryText {
  font-size: 9px;
  color: gray;
}
}