@media (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .content {
    flex-direction: column;
    gap: 2rem;
  }

  .grid_container {
    grid-template-columns: 1fr;
  }

  .subscribe,
  .contact {
    flex: 1 1 100%;
  }

  .flag img {
    width: 20px;
    height: 20px;
  }

  .subscribe input,
  .subscribe button {
    width: 100%;
  }

  .container h3 {
    font-size: 16px;
  }

  .para {
    display: none;
  }

  .paramobile {
    display: block;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .contact {
    display: none;
  }

  .content {
    border-bottom: none;
  }

  .grid_container {
    display: none;
  }

  .paymentsconatiner {
    display: block;
  }
}

.container {
  background-color: black;
  color: white;
  overflow-x: hidden;
  padding-left: 5rem;
  padding-right: 5rem;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 3rem;
  border-bottom: 1px solid white;
  gap: 8rem;
}

.subscribe {
  flex: 1;
}

.contact {
  flex: 1;
}

.input {
  background-color: white;
}

.subscribe input {
  flex-grow: 1;
  min-width: 0;
  height: 47px;
  padding: 0.5rem;
  margin-right: 1rem;
}

.subscribe button {
  height: 47px;
  padding: 0 1rem;
  white-space: nowrap;
  gap: 0px;
  border-radius: 5px;
  border: 1.14px solid #e5e5e5;
  opacity: 30%;
  background-color: black;
  color: white;
}

.container h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.para {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  margin: 1rem 0 1rem 0;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 1rem;
}

.list h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.list p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.flag {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.flag span {
  font-size: 16px;
}

.flag img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.flag .diamond {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: rgb(255, 255, 255);
  margin-right: 8px;
  transform: rotate(45deg);
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3rem;
}

.copyright {
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.paramobile {
  display: none;
}

.mobcontact {
  display: none;
}

.paymentsconatiner {
  display: none;
}
