.lang {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center; /* Aligns items horizontally (optional, depends on layout) */
  gap: 3px; /* Adds space between the text and the icon */
  color: black;
}


.navContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav {
  display: flex;
  width: 100%;
  background-color: inherit;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 6rem;
}

.navbtns {
  
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.navbtns button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  font-size: 36px;
  font-weight: 800;
  line-height: 43.57px;
  letter-spacing: 1px;
  margin-left: 10%;
}

.nav_link {
  width: 52px;
  height: 24px;
  font-weight: bold;
  color: #252020;
  font-family: 'SimplonNorm';
}


.lang p {
  margin: 0; /* Removes default margin from the <p> */
  font-size: 16px; /* Matches the font size with the icon */
  font-weight: bold;
}

.lang svg {
  width: 16px;
  height: 16px;
}

.topStrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #eb4c6b;
  font-size: 14px;
  padding: 5px 20px;
}

.topStrip span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .nav2 {
    display: none;
  }
  .nav {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .logoimage {
    height: 20px;
    width: 20px;
    align-self: center;
  }
  .icon {
    height: 20px;
    width: 20px;
  }
  .lang {
    display: none;
  }
  .profile {
    display: none;
  }

  .logo {
    font-size: 20px;
  }
  .topStrip {
    font-size: 14px;
    justify-content: center;
    flex-direction: column;
  }

  .topStrip span:not(:first-child) {
    display: none;
  }
  .pattern {
    height: 14px;
    width: 14px;
  }
}
